<div class="col-12 forgot-form">
  <div class="container pa5 mb5">
    <div class="row mb4">
      <div class="col-md-3 col-sm-1 col-xs-1"></div>
      <div class="col-md-6 col-sm-10 col-xs-10 wow fadeInLeft" data-wow-duration="0.8s">
        <h3 class="text-center">Forgot Password</h3>
        <p class="mt4 text-justify">
          Please enter your registered email address. We will send you an email with the reset password link.
        </p>
        <div class="form-group mt5 ml4 mr4">
          <input type="email" name="email" class="form-control" required [(ngModel)]="email" placeholder="Email">
        </div>
        <button class="mt3 btn btn-success">SUBMIT</button>
      </div>
    </div>
  </div>
</div>