<div class="latst-vid secondary-vid">
  <div class="vid-heading overflow-hidden">
    <span class="wow fadeInUp" data-wow-duration="0.8s">{{videosData.listHeading}}</span>
    <div class="hding-bottm-line wow zoomIn" data-wow-duration="0.8s"></div>
  </div>
  <div class="row auto-clear">
    <div class="vid-container">
      <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let video of videosData.videos">
        <div class="latest-vid-img-container wow fadeInUp" data-wow-duration="0.8s">
          <div class="vid-img">
            <img class="img-responsive" [src]="video.thumbnail" alt="video image">
            <a [routerLink]="['/watch']" [queryParams]="{video_id: video.slug}" class="play-icon play-small-icon">
              <img class="img-responsive play-svg svg" src="assets/images/play-button.svg" alt="play"
                onerror="this.src='../../../../assets/images/play-button.png'">
            </a>
            <div class="overlay-div"></div>
          </div>
          <div class="vid-text">
            <p><span>By </span> <a [routerLink]="['/search']" [queryParams]="{query: video.owner}">{{video.owner}}</a>
            </p>
            <h1><a [routerLink]="['/watch']" [queryParams]="{video_id: video.slug}">{{video.Title}}</a></h1>
            <p class="vid-info-text">
              <span *ngIf="video.timestamp">{{video.timestamp | date :'short'}}</span>
              <!-- <span *ngIf="video.timestamp"> &#47; </span> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>