<div class="col-12 profile-div">
  <div class="container pa5 pt3">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s">
        <div class="card h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="card-header-title">Personal Information</h2>
            <div>
            </div>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-4 mb-1 mb-md-0">Name :</div>
              <div class="col-md-8">{{user.name}}</div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-4 mb-1 mb-md-0">Email :</div>
              <div class="col-md-8">{{user.email}}</div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-4 mb-1 mb-md-0">Wallet Address :</div>
              <div class="col-md-8">{{user.walletAddress}}</div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-4 mb-1 mb-md-0 mt2">XRM Balance :</div>
              <div class="col-md-8">{{user.balance}} XRMs
                <button [disabled]="user.etherBalance<=0" class="ml4 btn btn-primary"
                  (click)="showTransferModal()">Transfer</button></div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-4 mb-1 mb-md-0">Ether Balance :</div>
              <div class="col-md-8">{{user.etherBalance}} Ether</div>
              <div class="col-md-12">
                <small class="info pull-right"><i class="fa fa-info-circle"></i>&nbsp;You must have some ether balance
                  for transferring XRM tokens to another wallet.</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="0.8s">
        <div class="card h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="card-header-title">Refine Medium History</h2>
            <div>
            </div>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-6 mb-1 mb-md-0">Total Videos :</div>
              <div class="col-md-6">{{user.userVideos.length}}</div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-6 mb-1 mb-md-0">Total Views :</div>
              <div class="col-md-6">{{user.totalViews}}</div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-6 mb-1 mb-md-0">Total Likes :</div>
              <div class="col-md-6">{{user.totalLikes}}</div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-6 mb-1 mb-md-0">Total Comments :</div>
              <div class="col-md-6">{{user.totalComments}}</div>
            </div>
            <hr class="hr-space">
            <div class="row align-items-center">
              <div class="col-md-6 mb-1 mb-md-0">Total Dislikes :</div>
              <div class="col-md-6">{{user.totalDislikes}}</div>
            </div>
            <hr class="hr-space">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pa5 pt0">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="0.8s">
        <div class="card h-100 mt0">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div class="row align-items-center">
              <div class="col-md-12">
                <button class="btn card-btn" [ngClass]="{'active-btn': isVideoActive}" (click)="toggleTab('1')">Video
                  Details</button>
                <button class="btn card-btn" [ngClass]="{'active-btn': isTransactionActive}"
                  (click)="toggleTab('2')">Transaction
                  Details</button>
              </div>
            </div>
            <div></div>
          </div>
          <div class="card-body" *ngIf="isVideoActive">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th class="text-center">S. No.</th>
                  <th>Title</th>
                  <th class="text-center">Total Views</th>
                  <th class="text-center">Total Likes</th>
                  <th class="text-center">Total Dislikes</th>
                  <th class="text-center">Total Comments</th>
                  <th class="text-center">Watch Video</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="user.userVideos.length==0">
                  <td colspan="3" class="empty-table">No Video History</td>
                </tr>
                <tr *ngFor="let video of user.userVideos; let idx = index">
                  <td class="text-center">{{idx + 1}}</td>
                  <td>
                    <a [routerLink]="['/watch']" [queryParams]="{video_id: video.slug}" class="pointer">
                      {{video.title}}
                    </a>
                  </td>
                  <td class="text-center">{{video.views}}</td>
                  <td class="text-center">{{video.likes}}</td>
                  <td class="text-center">{{video.dislikes}}</td>
                  <td class="text-center">{{video.comments}}</td>
                  <td class="text-center">
                    <a [routerLink]="['/watch']" [queryParams]="{video_id: video.slug}" class="pointer">
                      <i class="fa fa-eye"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card-body" *ngIf="isTransactionActive">
            <table class="table" cellspacing="0">
              <thead>
                <tr>
                  <th class="text-center" width="6%">S. No.</th>
                  <!-- <th>Transferred From</th> -->
                  <th>Transferred To</th>
                  <th class="text-center" width="8%">Amount</th>
                  <th>Transaction Hash</th>
                  <th class="text-center" width="10%">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="user.userTransactions.length==0">
                  <td colspan="5" class="empty-table">No Transaction History</td>
                </tr>
                <tr *ngFor="let transaction of user.userTransactions;let idx = index;">
                  <td class="text-center">{{idx + 1}}</td>
                  <!-- <td>
                    <a href="https://etherscan.io/address/{{transaction.from}}" target="_blank">{{transaction.from}}</a>
                  </td> -->
                  <td>
                    <a href="https://etherscan.io/address/{{transaction.to}}" target="_blank">{{transaction.to}}</a>
                  </td>
                  <td class="text-center">{{transaction.amount}}</td>
                  <td>
                    <a href="https://etherscan.io/tx/{{transaction.transactionHash}}"
                      target="_blank">{{transaction.transactionHash}}</a>
                  </td>
                  <td class="text-center"
                    [ngClass]="{'text-success': transaction.status==='CONFIRMED','text-warning': transaction.status==='PENDING','text-danger': transaction.status==='FAILED'}">
                    {{transaction.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="overlay" *ngIf="showModal || showSuccessModal" (click)="closeModal()"></div>
  <div class="transfer-Modal pa4" *ngIf="showModal">
    <h4 class="text-center">Transfer Tokens
      <span class="pull-right">
        <p class="pointer" (click)="closeModal()"><i class="fa fa-close"></i></p>
      </span>
    </h4>
    <h5 class="pl3 mt3">Current Balance : {{user.balance}}</h5>
    <div class="pl3 pr3 input-group mb-3 w-100">
      <input type="text" class="form-control mt3" placeholder="To Wallet Address"
        (keyup)="validateAddress($event.target.value)">
      <small *ngIf="showWalletErrMsg" class="text-danger">Required Field</small>
    </div>
    <div class="pl3 pr3 input-group mb-3 w-100">
      <input type="number" class="form-control mt3" placeholder="Transfer Amount"
        (keyup)="validateAmount($event.target.value)">
      <small *ngIf="showErrMsg" class="text-danger">Entered value must be between 1 and {{user.balance}}</small>
    </div>
    <button [disabled]="showWalletErrMsg||showErrMsg" class="mt4 btn btn-primary pull-right"
      (click)="transferAmount()">TRANSFER</button>
  </div>

  <div class="transfer-Modal pa4" *ngIf="showSuccessModal">
    <h4 class="text-center">Transfer Successful
      <span class="pull-right">
        <p class="pointer" (click)="closeSuccessModal()"><i class="fa fa-close"></i></p>
      </span>
    </h4>
    <h5 class="pl3 mt3">Current Balance : {{myBalance}}</h5>

    <div class="pl3 pr3 input-group mb-3 w-100">
      <p class="pl3 pr3">Amount successfully transferred to the wallet. The transaction hash is:- <br>
        <strong><a href="https://etherscan.io/tx/{{transactionHash}}" target="_blank">{{transactionHash}}</a></strong>
        <br>Please save it for future refrence.
      </p>
    </div>
    <button class="mt4 btn btn-primary pull-right" (click)="closeSuccessModal()">OK</button>
  </div>