<div id="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <div class="footer-about">
          <div class="vid-heading">
            <span>About</span>
            <div class="hding-bottm-line"></div>
          </div>
          <img class="img-responsive" src="../../../../assets/images/logo.png" alt="Logo">

          <ul class="bottom-social list-inline list-unstyled">
            <li><a href="https://www.facebook.com/refinemedium/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/RefineMedium" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://www.instagram.com/refine.medium/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/company/refinemedium/" target="_blank"><i
                  class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCjkVHV4ifQGushiquG70r_g" target="_blank"><i
                  class="fa fa-youtube"></i></a></li>
            <li><a href="https://old.reddit.com/r/RefineMedium/" target="_blank"><i class="fa fa-reddit"></i></a>
            </li>
            <li><a href="https://medium.com/@refineupdate" target="_blank"><i class="fa fa-medium"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="bottom-post">
          <div class="vid-heading">
            <span>Latest Posts</span>
            <div class="hding-bottm-line"></div>
          </div>
          <div class="latest-post">
            <div class="media">
              <div class="media-left">
                <img src="assets/images/most-like-img-1.jpg" alt="video">
              </div>
              <div class="media-body">
                <h1><a href="blog-detail.html">Stalker Game</a></h1>

              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <img src="assets/images/most-like-img-2.jpg" alt="video">
              </div>
              <div class="media-body">
                <h1><a href="blog-detail.html">Martial Art</a></h1>

              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <img src="assets/images/most-like-img-3.jpg" alt="video">
              </div>
              <div class="media-body">
                <h1><a href="blog-detail.html">Streat Crime</a></h1>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="bottom-categories">
          <div class="vid-heading">
            <span>Categories</span>
            <div class="hding-bottm-line"></div>
          </div>
          <ul class="category-list list-unstyled">
            <li><a href="category-listing.html">Action</a></li>
            <li><a href="category-listing.html">Adventure</a></li>
            <li><a href="category-listing.html">War</a></li>
            <li><a href="category-listing.html">Romance</a></li>
            <li><a href="category-listing.html">Comedy</a></li>
            <li><a href="category-listing.html">Horror</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="sendus wow fadeIn" data-wow-duration="0.5s" data-wow-delay="0.6s">
          <div class="vid-heading">
            <span>Send Us a Message</span>
            <div class="hding-bottm-line"></div>
          </div>
          <div id="contact-form" *ngIf="!submitted">
            <div class="expMessage"></div>
            <form class="send-form" (ngSubmit)="submit()">
              <input type="text" name="formInput[name]" id="name" class="form-control half-wdth-field"
                placeholder="Name" [(ngModel)]="formData.name" required>
              <input type="email" name="formInput[email]" id="email" class="form-control half-wdth-field pull-right"
                placeholder="Email" [(ngModel)]="formData.email" required>
              <input type="number" name="formInput[phone]" id="phone" class="form-control half-wdth-field pull-right"
                placeholder="Contact Number" [(ngModel)]="formData.phone" required>
              <textarea name="formInput[message]" id="message" class="form-control" rows="3" placeholder="Message"
                [(ngModel)]="formData.message" required></textarea>
              <input type="hidden" name="action" value="submitform">
              <div>
                <button type="submit" value="submit" class="btn btn-send btn-blue">
                  Submit
                </button>
              </div>
            </form>
          </div>
          <div *ngIf="submitted">
            <div class="contBg">
              <h6>Your response have been submitted. We will get in touch with you soon.</h6>
              <button class="btn btn-warning"
                (click)="submitted=false; formData = { name: null, email: null, phone: null, message: null };">
                Submit Another</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>