.form-group {
  color: rgba(242, 244, 246, 0.9);
}

.upload-btn {
    font-size: 18px;
    border-radius: 15px;
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 40px;
    letter-spacing: 2px;
    background-color: #375a7f;
    border-color: #375a7f;
}